{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/admin.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="container">

    <nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app_contact') }}">Acseo</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>

    <div class="form-login">
        <h1> Connexion </h1>
        {% if error %}
            <div class="login-error">
                <h3>Une erreur s'est produite </h3>
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>    
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <div class="mb-10 row">
                <label for="username" class="col-form-label">Username : </label>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"/>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-form-label">Password : </label>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <input type="password" class="form-control" id="password" name="_password">
                </div>
            </div>
            {#  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="mb-3 row btn-login">
                <button class="btn btn-primary" type="submit">login</button>
            </div>    
            
        </form>
    </div>    
    

</div>
{% endblock %}
